<div class="hero-image">
    <div class="sign-in-container">
        <img src="../../assets/logos/Logo-Full-White.png" class="hero-logo">
        <p class="hero-blurb">Join us for an experience.</p>
        <button routerLink="../onboard" id="googlebtn" mat-flat-button>Sign in with Google</button>
        <button routerLink="../onboard" id="facebookbtn" mat-flat-button>Sign in with Facebook</button>
        <p class="hero-blurb">Don't have an account? <a routerLink="../onboard">sign up here</a></p>
    </div>
</div>