  <mat-vertical-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="userFormGroup">
      <form [formGroup]="userFormGroup">
        <ng-template matStepLabel>Are you 21 years or older?</ng-template>
        <mat-radio-group formControlName="is21" required>
            <mat-radio-button value="Yes 21">Yes</mat-radio-button>
            <mat-radio-button value="Not 21">No</mat-radio-button>
        </mat-radio-group>
        <div>
          <button mat-raised-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="userFormGroup">
      <form [formGroup]="userFormGroup">
        <ng-template matStepLabel>Brew Preference?</ng-template>
        <mat-button-toggle-group [vertical]="true" formControlName="beers">
            <mat-button-toggle value="ipa">IPA</mat-button-toggle>
            <mat-button-toggle value="light">LIGHT</mat-button-toggle>
            <mat-button-toggle value="dark">DARK</mat-button-toggle>
            <mat-button-toggle value="sour">SOUR</mat-button-toggle>
        </mat-button-toggle-group>
        <div>
          <button mat-raised-button matStepperNext>Next</button>
          <button mat-raised-button matStepperNext>Skip</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="userFormGroup">
      <form [formGroup]="userFormGroup">
        <ng-template matStepLabel>Wine Preference?</ng-template>
        <mat-button-toggle-group [vertical]="true" formControlName="wines">
            <mat-button-toggle value="red">RED</mat-button-toggle>
            <mat-button-toggle value="white">WHITE</mat-button-toggle>
            <mat-button-toggle value="sparkling">SPARKLING</mat-button-toggle>
            <mat-button-toggle value="rose">ROSE</mat-button-toggle>
        </mat-button-toggle-group>
        <div>
          <button mat-raised-button matStepperNext>Next</button>
          <button mat-raised-button matStepperNext>Skip</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="userFormGroup">
      <form [formGroup]="userFormGroup">
        <ng-template matStepLabel>Music Preference?</ng-template>
        <mat-button-toggle-group [vertical]="true" formControlName="music">
            <mat-button-toggle value="rock">ROCK</mat-button-toggle>
            <mat-button-toggle value="hip hop">HIP HOP</mat-button-toggle>
            <mat-button-toggle value="pop">POP</mat-button-toggle>
            <mat-button-toggle value="reggae">REGGAE</mat-button-toggle>
        </mat-button-toggle-group>
        <div>
          <button mat-raised-button matStepperNext>Next</button>
          <button mat-raised-button matStepperNext>Skip</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="userFormGroup">
      <form [formGroup]="userFormGroup">
        <ng-template matStepLabel>Entertainment Preference?</ng-template>
        <mat-button-toggle-group [vertical]="true" formControlName="entertainment">
            <mat-button-toggle value="sports">SPORTS</mat-button-toggle>
            <mat-button-toggle value="trivia">TRIVIA</mat-button-toggle>
            <mat-button-toggle value="games">GAMES</mat-button-toggle>
        </mat-button-toggle-group>
        <div>
          <button mat-raised-button matStepperNext>Next</button>
          <button mat-raised-button matStepperNext>Skip</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="userFormGroup">
      <form [formGroup]="userFormGroup">
        <ng-template matStepLabel>Pet Preference?</ng-template>
        <mat-radio-group formControlName="isPetFriendly">
            <mat-radio-button value="pets okay">Dogs Welcome</mat-radio-button>
            <mat-radio-button value="no pets">No Bowsers</mat-radio-button>
        </mat-radio-group>
        <div>
          <button mat-raised-button matStepperNext>Next</button>
          <button mat-raised-button matStepperNext>Skip</button>
        </div>
      </form>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Finished</ng-template>
      <p>Let's find you some Rad spots</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="this.intakeService.onSubmit(this.userFormGroup)">Finished</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
  