.mat-stepper-horizontal {
    margin-top: 8px;
}

.mat-form-field {
    margin-top: 16px;
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
    margin-bottom: 5px;
}

mat-button-toggle-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    border: none;
}

mat-button-toggle {
    margin: 5px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 24px;
    background: beige;
    border: 3px solid black !important;
    border-radius: 15px;
}
.mat-button-toggle-checked {
    background: black;
    color: beige;
}
.mat-button-toggle-group-appearance-standard .mat-button-toggle+.mat-button-toggle{
    border-left: none;
}

.preferenceSelect {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    max-width: 300px;
}

.onboard-container{
    align-items: center;;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: beige;
}

h2 {
    font-size: 42px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    line-height: 1.1;
    padding: 0px  20px;
    margin-bottom: 40px;
}
.skipNextBtns {
    display: flex;
}
.skipNextBtns button {
    font-size: 24px;
    height: 34px;
}
.mat-icon {
    // height, width, and font-size must be the same size // 
    font-size: 34px;
    width: 34px;
    height: 34px;
    color: black;
    align-self: center;
}
