.profile-container {
    background-color: rgb(255, 242, 217);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 15px;
    align-items: center;
    flex-grow:1;
}

.preferenceWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 450px;
    width: 100%;
}

.profile-container img {
    align-self: center;
    width: 200px;
}
.logo {
    padding:15px 0px;
}
.profile_image {
    padding: 0px 0px 25px 0px;
}

.preferenceToggle {
    font-size: 16px;
    margin-bottom: 5px;
}
.preferenceGroup {
    display: flex;
    flex-wrap: wrap;
    border: none;
    margin-bottom: 15px;
}

mat-button-toggle {
    text-transform: capitalize;
}