.favoritesWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 450px;
    width: 100%;
}
.favoriteLabel {
    margin: 8px 0px;
}
.favorite{
    background-color: rgb(255,130,47);
    font-size: 16px;
    border-radius: 10px;
    font-weight: bold;
    // color: white;
    padding: 5px 3px 5px 8px;
    margin: 7px;
}
.favorites {
    display: flex;
}
.xSpan {
    color: white;
    padding-left: 5px;
    padding-right: 5px;
}
.favoriteLabel {
    align-self: center;
}

.profile-container {
    background-color: rgb(255, 242, 217);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 15px;
    align-items: center;
    flex-grow:1;
}

.preferenceWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 450px;
    width: 100%;
}

.profile-container img {
    align-self: center;
    width: 200px;
}
.logo {
    padding:15px 0px;
}
.png_icon{
    height:24px;
    width:24px !important;
    margin: 0px 0px 16px 12px;
}
.profile_image {
    padding: 0px 0px 15px 0px;
}

.preferenceToggle {
    font-size: 16px;
    margin-bottom: 5px;
}
.preferenceGroup {
    display: flex;
    flex-wrap: wrap;
    border: none;
    margin-bottom: 15px;
}
.preference{
    width: 100%;
    max-width: 450px;
    flex-direction: column;
}

.toggleLabel {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 16px;

}
.userName{
    font-size: 24px;
}
.userNameWrap{
    display: flex;
    align-items: center;
}

mat-button-toggle {
    text-transform: capitalize;
}